#firstrun {
 padding: 3em;  margin: 2em;
}


/* Styling the bookmark widget */
.section h2 {
	margin-top: 0;
}

.with-icon li {
	background-position: 10px center;
}

.icon {
	padding-left: 25px;
	background-repeat: no-repeat;
	height: 16px ; 
	width: 16px; 
}
.icon{
display: inline-block;
height: 16px;
width: 16px;
}
.star-icon {
	background-image: url('../img/star.png');
}

.edit-icon {
	background-image: url('../img/rename.png');
}

.delete-icon {
	background-image: url('../img/delete.png');
}

.showDiv {
display: none;
}

